<div class="embed-container">
    <iframe width="440" height="290" 
    src="https://www.youtube.com/embed/{{ include.id }}" 
    frameborder="0" allowfullscreen></iframe>
</div>
<style>
.embed-container {
  position: relative;
  padding-bottom: 55.25%;
  height: 0;
  overflow: hidden;
/*   width: 400px; */
/*   height: 200px; */
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
}
</style>
